.profilePageContainer {
    height: calc(100vh - 100px);
    width: 100%;
    text-align: center;
    color: #193658;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-clip: border-box;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profileFieldContainer {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem 5rem;
    margin: 1rem;
    width: 50rem;
}
.profileFieldContainer h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #000000;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
.inputFields {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.5rem;
}
.inputFields input {
    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
    border-radius: 10px;
    border: #1a3657 5px solid;
    outline: none;
    transition: all 0.2s ease-out;
}

.inputItem:focus {
    transform: scale(1.05);
}

.invalid {
    border: #f03c1c 5px solid !important ;
}
.invalid:focus {
    transform: scale(1.05);
}

.profilebtn {
    font-size: 2rem !important;
}

@media only screen and (max-width: 600px) {
    .profilePageContainer {
        height: calc(100vh - 67px);
    }
    .profileFieldContainer {
        padding: 3rem 5rem;
        margin: 2rem;
    }
    .profileFieldContainer h1 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }
    .inputFields {
        margin-bottom: 1rem;
    }
    .inputFields input {
        width: 100%;
        padding: 1rem;
        font-size: 1.2rem;
    }

    .profilebtn {
        font-size: 1.3rem !important;
    }
}

@media only screen and (max-width: 450px) {
    .profileFieldContainer {
        padding: 2rem 3rem;
        margin: 1rem;
    }
    .profileFieldContainer h1 {
        font-size: 1.7rem;
    }
    .inputFields input {
        width: 100%;
        padding: 1rem;
        font-size: 1rem;
    }
}
